<div id="divHaderInner">
    <!--ヘッダー-->
    <div id="divLogo">
			<%= link_to image_tag('logo.png' , :alt => 'ロゴ', :size => '145x51'), '../index' %>
		</div>
    <div id="divHdrLnk">
			<%= link_to '予約取消・お問い合わせ', '#' , { :class => "clsFontGothic clsHdrLnk" }%>
		</div>
</div>
